@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624634586617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-liwuhuodong:before {
  content: "\f01da";
}

.icon-xiazai1:before {
  content: "\e600";
}

.icon-chongzhi:before {
  content: "\e623";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-icon_on_the_right:before {
  content: "\e625";
}

.icon-miaosha:before {
  content: "\e60a";
}

.icon-duihua:before {
  content: "\e710";
}

.icon-dianhuaqia:before {
  content: "\e733";
}

.icon-fangwufangchan:before {
  content: "\e689";
}

.icon-Z:before {
  content: "\e6b3";
}

.icon-F:before {
  content: "\e61f";
}

.icon-bofanganniu:before {
  content: "\e628";
}

.icon-chongzhi1:before {
  content: "\e644";
}

.icon-weixiu:before {
  content: "\e74b";
}

.icon-didian:before {
  content: "\e65a";
}

